# Clustering

The goal of this program is to visualize and cluster the data.

## Input
* Importing the libaries that are necessary:

In [13]:
import numpy as np
import pandas as pd
import random as rd

* Importing the necessary files:
 * Read files
 * Convert read files to data
 * Save data in dataframes

In [6]:
df_data = pd.read_csv('Data\Voorbeeld_clusterdata.txt', sep='  ', header=None, engine='python', index_col=0)
df_results = pd.read_csv('Data\Voorbeeld_clusterresult.txt', sep='  ', header=None, engine='python', index_col=0)
df_clusterd = df_data.copy().drop(columns=df_data.columns)

df_data.head(10)

            1      2      3      4      5      6      7      8
0
846160  0.388  0.329  0.690  0.900  0.626  0.621  0.399  0.370
820434 -0.296 -0.503 -0.454 -0.868 -0.721 -0.918 -0.486 -0.582
849103 -0.246 -0.935 -0.277 -0.175 -0.278 -0.075 -0.236 -0.417
846353  0.769  0.929  0.977  1.095  1.058  0.864  0.689  0.492
848613 -0.365 -0.760 -0.305 -0.293 -0.364 -0.155 -0.472 -0.606
846978  0.858  1.134  0.950  1.806  1.384  1.414  1.169  1.146
847332 -0.029 -0.018 -0.285 -0.813 -0.974 -0.936 -0.607 -0.514
847300  0.337  0.067 -0.762 -2.677 -2.772 -3.670 -1.356 -1.443
846924  0.552  0.743  0.581  1.027  0.754  0.596  0.712  0.506
846452  0.552  0.471  0.542  0.878  0.804  0.584  0.704  0.464

## Cluster methods
### K-means (KMCA)

#### Vectorlengte berekenen
Een rij in het DataFrame is in feite een 8-dimensionale expressievector van een gen. Hiervan kan de Euclidische afstand gebruikt worden. Dit moet op veel plaatsen in het algoritme gebeuren, dus het is mooi om hier een losse functie van te maken.

In [299]:
def magnitude(vector):
    ''' 
     Preconditions: 'vector' is een pandas DataFrame
    Postconditions: returnt de lengte van de eerste rij van 'vector' als float
    '''
    return np.sqrt((vector**2).sum())

#### Data normaliseren
Elk gen heeft een 8-dimensionale expressievector, met daarin alle 8 expressiewaarden (r-waarden) van dat gen. Van deze vector wordt de Euclidische lengte berekend. Vervolgens worden van het gen alle r-waarden gedeeld door die lengte van de vector, waardoor je een eenheidsvector krijgt. De vector is nu genormaliseerd.

In [322]:
def normalize_data(data):
    ''' 
     Preconditions: 'data' is een pandas DataFrame
    Postconditions: returnt een pandas DataFrame waarvan elke rij genormaliseerd is tot eenheidsvector
    '''
    normalized = data.copy()
    indexlist = normalized.index.tolist()
    for row in indexlist:
        vector_magnitude = magnitude(normalized.loc[row]) # vector_magnitude moet bepaald worden vóórdat je de waarden in de rij gaat vervangen
        for col in data.columns:
            normalized.loc[row,col] = normalized.loc[row,col] / vector_magnitude
    return normalized

#### Clustercentrum berekenen
Een cluster bestaat uit een verzameling vectoren. Het clustercentrum is het gemiddelde van alle vectoren in een cluster.

In [8]:
def calculate_center(vectors):
    '''
     Precondition: 'vectors' is een pandas DataFrame
    Postcondition: returnt een pandas DataFrame, die het centrum van de vectoren die in 'vectors' zijn meegegeven aangeeft
    '''
    center = vectors.sum()/len(vectors.index)
    return center

#### K-means clusteralgoritme

In [317]:
def KMCA(data, k, seed=0):
    '''
     Precondition: 'data' is een pandas DataFrame;
                   'k' is een integer dat aangeeft hoeveel clusters gemaakt moeten worden;
                   'k' > 0;
                   'k' <= het aantal rijen in 'data'
    Postcondition: returnt een pandas DataFrame met bij elke index van 'data' een kolom 'cluster' waarin het bijbehorend cluster
                   van die rij staat
    '''
    assert k > 0 and k <= len(data.index)
    clustered = data.copy()
    E_list = []
    centers = {}
    
    # INITIAL CLUSTERING
    rd.seed(seed)
    for i in range(k):
        random = rd.choice(clustered.index.tolist())
        centers[i]=clustered.loc[random]
        
    # REASSIGNMENT
    PLACEHOLDER = 0
    while PLACEHOLDER < 3:
        for row in clustered.index.tolist():
            clustered.loc[row,'cluster_nr']='None'
            vector = clustered.loc[row].drop('cluster_nr')
            for i in centers:
                if clustered.loc[row,'cluster_nr']=='None' or magnitude(centers[i]-vector) < magnitude(centers[clustered.loc[row]['cluster_nr']]-vector):
                    clustered.loc[row,'cluster_nr']=i
        for i in centers:
            centers[i]=calculate_center(clustered[clustered['cluster_nr']==i])
        PLACEHOLDER += 1
        
    # RETURN
    return clustered,E_list

In [321]:
seed=0
clustered_data,E_progression = KMCA(normalize_data(df_data)[:50],5,seed)
clustered_data.head(50)

,1,2,3,4,5,6,7,8,cluster_nr
0,,,,,,,,,
846160,0.239776,0.203315,0.426405,0.556181,0.386855,0.383765,0.246573,0.228652,4
820434,-0.164504,-0.279546,-0.252314,-0.482397,-0.400701,-0.510185,-0.270098,-0.323451,0
849103,-0.211364,-0.803356,-0.237999,-0.150361,-0.238859,-0.064440,-0.202772,-0.358288,3
846353,0.309072,0.373379,0.392670,0.440096,0.425225,0.347254,0.276919,0.197742,4
848613,-0.285344,-0.594142,-0.238438,-0.229057,-0.284563,-0.121174,-0.368993,-0.473750,3
846978,0.239997,0.317198,0.265731,0.505168,0.387127,0.395519,0.326988,0.320555,4
847332,-0.016210,-0.010061,-0.159301,-0.454426,-0.544417,-0.523176,-0.339282,-0.287300,0
847300,0.058719,0.011674,-0.132770,-0.466438,-0.482991,-0.639457,-0.236268,-0.251427,0
846924,0.278244,0.374520,0.292861,0.517674,0.380065,0.300422,0.358894,0.255057,4
846452,0.304347,0.259687,0.298833,0.484088,0.443288,0.321990,0.388153,0.255828,4
818743,0.288947,0.375375,0.349418,0.516283,0.343143,0.264987,0.364821,0.256715,4
1005857,0.401278,0.375850,-0.141441,-0.313076,0.235204,0.255864,0.656348,0.167663,4
1005802,-0.091376,-0.356288,-0.468396,-0.593558,-0.403128,-0.292556,-0.017661,-0.211162,0
1005968,0.183466,0.407758,0.404522,0.638523,0.357722,0.174754,0.206120,0.166539,4
1005901,0.194976,0.265145,0.310582,0.558472,0.562498,0.331287,0.224309,0.082822,2
1005990,0.310271,0.426322,0.340231,0.492784,0.349529,0.304761,0.316814,0.219015,4
1005953,0.200910,0.295552,0.309342,0.566226,0.419937,0.274190,0.374509,0.253368,4
1005899,-0.357646,-0.413333,-0.498784,-0.542470,-0.238111,-0.306759,-0.073449,-0.044646,1
620243,-0.069883,-0.162361,-0.130834,-0.627900,-0.142394,-0.310535,-0.420877,-0.513355,0
1005717,0.241460,0.375634,0.371907,0.501289,0.485316,0.258232,0.296833,0.143758,4
1005837,-0.279523,-0.424329,-0.463696,-0.465872,-0.288821,-0.343222,-0.242926,-0.222550,0
521046,0.197492,0.190160,0.757706,0.542126,-0.040574,0.167184,0.163762,-0.020043,4
518990,0.310798,0.321993,0.353979,0.346516,0.454736,0.305467,0.451004,0.225502,4
518979,0.192588,0.184830,0.732929,0.557684,-0.032402,0.213125,0.183461,-0.020537,4
518988,-0.389217,-0.541392,-0.468963,-0.429090,-0.239968,-0.268867,-0.098402,-0.108644,1
518896,0.218095,0.338378,0.248056,0.527834,0.448527,0.272729,0.417245,0.219417,4
521019,0.117053,0.204638,0.225102,0.609821,0.627420,0.263164,0.229604,0.078990,2
520353,-0.146917,-0.477699,-0.627254,-0.556875,-0.157473,-0.144277,0.021993,-0.023753,1
519512,0.364809,0.485701,0.428100,0.519836,0.296541,0.184894,0.106669,0.209783,4
520197,0.193801,0.342139,0.361373,0.554592,0.426362,0.268699,0.357002,0.160578,4
521117,0.315250,0.304328,0.290427,0.507379,0.428939,0.276030,0.391704,0.229363,4
518969,0.300035,0.418057,0.227996,0.526882,0.411926,0.291222,0.351383,0.166303,4
518754,0.201573,0.326157,0.194224,0.530880,0.492035,0.356253,0.305160,0.267015,4
518913,0.058704,-0.007902,-0.371038,-0.795511,-0.317226,-0.312334,-0.155038,-0.061338,0
520117,0.240714,0.459332,0.239304,0.499764,0.397743,0.281617,0.362012,0.235543,4
518812,0.251110,0.277317,0.296853,0.485542,0.551298,0.312100,0.330683,0.159624,4
963217,-0.245974,-0.649441,-0.283135,-0.212351,-0.153070,-0.143337,-0.365421,-0.463634,3
1003047,0.362522,0.421414,0.272262,0.497173,0.372288,0.229055,0.318428,0.277884,4
963216,-0.198918,-0.110994,-0.329499,-0.759546,-0.353004,-0.330370,-0.135369,-0.102724,0
961070,0.158661,0.202040,0.382093,0.388629,0.515795,0.412993,0.386846,0.225215,4
960606,-0.484565,0.034937,-0.037469,-0.110382,-0.537224,-0.285574,-0.571149,-0.232409,0
960487,0.011158,0.181803,0.215276,0.452211,0.507342,0.315694,0.574288,0.170645,4
961975,-0.378864,0.399778,0.133527,0.115831,-0.411039,-0.148811,-0.684529,-0.075612,0
619095,-0.385263,-0.326524,-0.563642,-0.526282,-0.280525,-0.257634,-0.064139,-0.033257,1
618975,-0.433964,0.180965,0.082576,0.099267,-0.453291,-0.169545,-0.721224,-0.088725,0
619519,-0.346265,-0.451477,-0.356254,-0.362913,-0.506746,-0.284337,-0.231066,-0.163144,0
619105,-0.250971,-0.579402,-0.246323,-0.214565,-0.257168,-0.113867,-0.417511,-0.491098,3
478158,-0.154116,-0.272884,-0.330382,-0.647568,-0.452449,-0.329911,-0.158357,-0.186164,0
533961,-0.411655,-0.700907,-0.248224,-0.264635,-0.178475,-0.222239,-0.078638,-0.346693,1
535634,0.251195,0.326932,0.348812,0.557930,0.386680,0.274337,0.361434,0.204069,4

# Vanaf hier is niet meer relevant, heb alleen geen tijd gehad om het weg te halen
### Own cluster method:
#### Quantile assignment
De namen van de gebruikte kwantielen worden gedefinieerd in de lijst 'quantiles'. De 'pandas.qcut' functie wordt uitgevoerd op elk van de r-dimensies (kolommen van df_data). Deze functie neemt van een kolom de waarden van alle genen (rijen) en berekent aan de hand daarvan in welk kwantiel elke waarde hoort. De hoeveelheid kwantielen die worden gebruikt hangt af van de lengte van de lijst 'quantiles', zodat er meer kwantielen worden gevormd wanneer andere namen worden toegevoegd aan de lijst.

De rijen code die gevolgd worden door #test zijn niet belangrijk voor het programma, maar geven een inzicht in de berekening van kwantielen voor alle r-dimensies.

In [92]:
def assign_quantiles(data,quantiles):
    '''
    Preconditions : 'data' is een pandas DataFrame; 'quantiles' is een lijst van strings
    Postconditions: returnt een pandas DataFrame, met als waarden de kwantielen waarin elke waarde uit het 'data' DataFrame behoort
    '''
    leveled = data.copy()
    for rX in range(1,len(leveled.columns)+1):
        print('r'+str(rX)) #test
        for q_nr in range(len(quantiles)): #test
            print('\t', quantiles[q_nr], leveled[rX].quantile(q=(q_nr+1)*(1/len(quantiles)))) #test
        leveled[rX] = pd.qcut(leveled[rX], len(quantiles), labels=quantiles)
    return leveled

quantiles = ['1st','2nd','3rd']
assign_quantiles(df_data,quantiles).head(10)

r1
	 1st -0.10400000000000023
	 2nd 0.4959999999999999
	 3rd 2.041
r2
	 1st -0.2550000000000004
	 2nd 0.5429999999999994
	 3rd 3.835
r3
	 1st -0.3950000000000002
	 2nd 0.5179999999999998
	 3rd 3.051
r4
	 1st -0.5470000000000002
	 2nd 0.809
	 3rd 4.5569999999999995
r5
	 1st -0.3450000000000001
	 2nd 0.7070000000000001
	 3rd 3.315
r6
	 1st -0.29300000000000004
	 2nd 0.4709999999999999
	 3rd 2.535
r7
	 1st -0.218
	 2nd 0.5439999999999997
	 3rd 2.611
r8
	 1st -0.254
	 2nd 0.31199999999999967
	 3rd 1.544

          1    2    3    4    5    6    7    8
0
846160  2nd  2nd  3rd  3rd  2nd  3rd  2nd  3rd
820434  1st  1st  1st  1st  1st  1st  1st  1st
849103  1st  1st  2nd  2nd  2nd  2nd  1st  1st
846353  3rd  3rd  3rd  3rd  3rd  3rd  3rd  3rd
848613  1st  1st  2nd  2nd  1st  2nd  1st  1st
846978  3rd  3rd  3rd  3rd  3rd  3rd  3rd  3rd
847332  2nd  2nd  2nd  1st  1st  1st  1st  1st
847300  2nd  2nd  1st  1st  1st  1st  1st  1st
846924  3rd  3rd  3rd  3rd  3rd  3rd  3rd  3rd
846452  3rd  2nd  3rd  3rd  3rd  3rd  3rd  3rd

### Data normalization

In [171]:
def normalize_data(data):
    normalized = data.copy()
    indexlist = normalized.index.tolist()
    for row in indexlist:
        normalized.loc[row,'vector_length'] = np.sqrt(sum(normalized.loc[846160,:]**2))#np.sqrt(sum(normalized.loc[row,:]**2))
    return normalized

normalize_data(df_data)

            1      2      3      4      5      6      7      8  vector_length
0
846160  0.388  0.329  0.690  0.900  0.626  0.621  0.399  0.370       1.618179
820434 -0.296 -0.503 -0.454 -0.868 -0.721 -0.918 -0.486 -0.582       2.288451
849103 -0.246 -0.935 -0.277 -0.175 -0.278 -0.075 -0.236 -0.417       2.288451
846353  0.769  0.929  0.977  1.095  1.058  0.864  0.689  0.492       2.288451
848613 -0.365 -0.760 -0.305 -0.293 -0.364 -0.155 -0.472 -0.606       2.288451
...       ...    ...    ...    ...    ...    ...    ...    ...            ...
760857  1.243  1.824  1.569  2.671  1.644  1.305  1.541  1.094       2.288451
805218  0.810  0.641  0.545  0.973  1.137  0.518  0.711  0.355       2.288451
945014 -0.486 -0.743 -0.066  0.046  0.364  0.176  0.172  0.006       2.288451
805835  0.165  0.544  0.678  0.883  1.003  0.648  0.958  0.564       2.288451
834225  0.881  1.082  0.987  1.871  1.327  0.866  0.866  0.496       2.288451

[1012 rows x 9 columns]

## Output

* get cluster labels
* save labels in text file

### get cluster labels:

In [5]:
kmca = KMCA()
kmca.fit(df_data.values)
df_clusterd['KMCA'] = kmca.predict(df_data.values)

df_clusterd.head()

        KMCA
0
846160     0
820434     4
849103     2
846353     3
848613     2

### save results:

In [6]:
df_clusterd.to_csv(r'Data\clusterresultaten.txt', header=None, index=True, sep=' ')